# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

backend/venv/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/gemini_api_key.txt

# 안 쓰는 플랫폼
app/ios/
app/macos/
app/windows/
app/linux/
app/web/
app/test/
app/ig/